<div class="page-header">
  <img src="../../assets/logo.jpg" alt="Peachtree Bank">
  <hr>
</div>
<div class="page-container">
  <div class="transfer-container md-col-2">
    <div class="container-header">
      Make a Transfer
    </div>
    <form *ngIf="!previewPage" [formGroup]="userForm">
      FROM ACCOUNT <input formControlName="fromAccount" placeholder="">
      TO ACCOUNT <input formControlName="toAccount" placeholder="Please enter an account" maxlength="30">
      AMOUNT <input formControlName="dollarAmount" placeholder="$ 0.00" #amountInputField
        (keyUp)="amountInputFieldValidation()" maxlength="30">
      <span *ngIf="userForm.controls.dollarAmount?.errors?.invalidAmount" style="color: red;">
        Amount exceeds $500 overdraft limit.
      </span>
      <button class="submit-button" [ngStyle]="{'margin-top': userForm.controls.dollarAmount?.errors ? '10px' : '20px'}"
        type="submit" (click)="onSubmitForm()">Submit</button>
    </form>
    <div *ngIf="previewPage" class="preview-page">
      <table>
        <tr>From:
          <td>{{checkingAccountName}}</td>
        </tr>
        <tr>Amount:
          <td>{{dollarAmount | currency:'USD'}}</td>
        </tr>
        <tr>To:
          <td>{{recipientAccount}}</td>
        </tr>
      </table>
      <h4>
        Please click Transfer to proceed
        <br>or Cancel to return.
      </h4>
      <button class="cancel-button" type="reset" (click)="onCancel()">Cancel</button>
      <button class="transfer-button" type="submit" (click)="onTransfer()">Transfer</button>
    </div>
  </div>
  <div *ngIf="transactionData" class="recent-transactions md-col-6">
    <div class="container-header">
      Recent Transactions
    </div>
    <div class="top-row">
      <div class="input-field">
        <input class="search-input" #searchField type="text" (keyup)="onSearch($event)"
          placeholder="Search by typing...">
        <span><button class="clear-button" (click)="onSearch('')">&times;</button></span>
      </div>
      <div class="sort-buttons">
        Sort by
        <button (click)="sortTransactions('date')">DATE <span style="color: lightgray;">&#9660;</span></button>
        <button (click)="sortTransactions('beneficiary')">BENEFICIARY </button>
        <button (click)="sortTransactions('amount')">AMOUNT </button>
      </div>
    </div>
    <table>
      <ng-container *ngFor="let item of transactionData">
        <tr [style.border-left]="'5px solid' + item.categoryCode">
          <td>
            {{item.dates.valueDate | date: 'MM/dd/yy'}}
          </td>
          <td style="width: 10%;">
            <img class="img-responsive" src="{{item.imageUrl}}" alt="">
          </td>
          <td>
            {{ item.merchant.name }} <br>
            <p> {{ item.transaction.type}}
            </p>
          </td>
          <td *ngIf="item.transaction.creditDebitIndicator !== 'CRDT'; else showCreditTransaction">
            -{{ item.transaction.amountCurrency.amount | currency:'USD'}}
          </td>
          <ng-template #showCreditTransaction>
            <td>
              +{{ item.transaction.amountCurrency.amount | currency:'USD'}}
            </td>
          </ng-template>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
