/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Light.ttf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Kanit';
  display: flex;
  flex-direction: column;
}